@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Quicksand:wght@300&display=swap');

:root {
    --bg-color: #353238;
    --heading-color: #F96E46;
    --text-color: #FB9274;
    --border-color: #A7BBEC;
}

body {
    background-color: var(--bg-color);
    font-family: "Quicksand", sans-serif;
    color: var(--text-color);
}

.center {
    margin: auto;
    width: auto;
}

.box {
    border: 2px var(--border-color) solid;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fitted {
    width: fit-content;
}

.textbox {
    background-color: var(--bg-color);
    border: 1px var(--border-color) solid;
    border-radius: 2.5px;
    padding: 5px;
    margin-top: 1px;
    margin-bottom: 10px;
    width: calc(100% - 12px);
    color: var(--text-color);
    font-family: "Quicksand", sans-serif;
}

.main-button {
    background-color: var(--bg-color);
    border: 2px var(--border-color) solid;
    border-radius: 2.5px;
    padding: 5px;
    color: var(--text-color);
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: large; 
    transition: 0.5s;
    width: 100%;
    margin-bottom: 5px;
}

.main-button:hover {
    background-color: var(--border-color);
    color: var(--bg-color);
    transition: 0.5s;
}

.alone {
    border-radius: 5px;
}

.center-text {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.thick {
    border: 2px var(--border-color) solid;
}

.title {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    color: var(--heading-color);
    text-align: center;
    margin: 0px;
    padding: 2px;
}

.subtitle {
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;
    font-size: large;
    color: var(--heading-color);
    text-align: center;
    margin: 0px;
    padding: 2px;
}

.no-underline {
    text-decoration: none;
}

.smaller {
    font-size: larger;
    text-decoration: underline;
}

.fixed {
    position: sticky;
}

.buttons {
    width: 100%;
    height: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.unbold {
    font-weight: normal;
}

.split {
    height: auto;
    position: fixed;
    margin-top: 5px;
}

.left {
    width: 58.5%;
    left: 8px;
}

.right {
    width: 40%;
    right: 8px;
}

.no-margin {
    margin: 0;
    margin-bottom: 5px;
}

.special {
    width: 56.5%;
}

/* .editor {
    color: #ccc;
} */

.bold {
    font-weight: bold;
}